# Database Access
* Author: Johannes Maucher
* Last Update: 13.07.2017
* References: 
    * http://jgardiner.co.uk/blog/read_sql_pandas
    * PostgreSQL Online Manual: [https://www.postgresql.org/docs/8.4/static/queries-table-expressions.html](https://www.postgresql.org/docs/8.4/static/queries-table-expressions.html).
    * SQL Queries in Pandas: http://pandas.pydata.org/pandas-docs/stable/io.html#sql-queries

## Preliminaries
1. Download and install [PostgreSQL](https://www.postgresql.org/)
2. Download and install pgAdmin. pgAdmin is an open source administration and development platform for PostgreSQL databases.
3. In pgAdmin create a new database as described e.g. in https://www.pgadmin.org/docs/pgadmin4/dev/modifying_tables.html.

In the code below, the name of the database is *dataScienceExp*. Please use your own database- and table-name, instead.

In [1]:
import psycopg2 #provides drivers for PostgreSQL
import numpy as np
import json #required to access json file
import pandas as pd
from sqlalchemy import create_engine

## Connect to Database
The database-connection parameters are defined in the file [configTemplate.json](configTemplate.json). The contents of this file are loaded into a Python dictionary `conf` as follows:

In [2]:
with open('configLocalDS.json') as f:
    conf = json.load(f)

In [3]:
print "Name of database is: ",conf['database']

Name of database is:  dataScienceExp

In [4]:
conn_str = "host={} dbname={} user={} password={}".format(conf["host"], conf["database"], conf["user"], conf["passw"])
conn = psycopg2.connect(conn_str)
#conn = psycopg2.connect(host=awsDB,dbname="hrv_web",user=awsUser,password=awsPw)

## Without Pandas

In [5]:
cur = conn.cursor()

In [6]:
cur.execute("""SELECT * FROM cartable""")

In [7]:
rows=cur.fetchall()

In [8]:
for a in rows:
    print np.array(a)

['Mazda RX4' Decimal('21.0') Decimal('6') Decimal('160.0') Decimal('110')
 Decimal('3.90') Decimal('2.620') Decimal('16.46') Decimal('0')
 Decimal('1') Decimal('4') Decimal('4')]
['Mazda RX4 Wag' Decimal('21.0') Decimal('6') Decimal('160.0')
 Decimal('110') Decimal('3.90') Decimal('2.875') Decimal('17.02')
 Decimal('0') Decimal('1') Decimal('4') Decimal('4')]
['Datsun 710' Decimal('22.8') Decimal('4') Decimal('108.0') Decimal('93')
 Decimal('3.85') Decimal('2.320') Decimal('18.61') Decimal('1')
 Decimal('1') Decimal('4') Decimal('1')]
['Hornet 4 Drive' Decimal('21.4') Decimal('6') Decimal('258.0')
 Decimal('110') Decimal('3.08') Decimal('3.215') Decimal('19.44')
 Decimal('1') Decimal('0') Decimal('3') Decimal('1')]
['Hornet Sportabout' Decimal('18.7') Decimal('8') Decimal('360.0')
 Decimal('175') Decimal('3.15') Decimal('3.440') Decimal('17.02')
 Decimal('0') Decimal('0') Decimal('3') Decimal('2')]
['Valiant' Decimal('18.1') Decimal('6') Decimal('225.0') Decimal('105')
 Decimal('2.76') Decimal('3.460') Decimal('20.22') Decimal('1')
 Decimal('0') Decimal('3') Decimal('1')]
['Duster 360' Decimal('14.3') Decimal('8') Decimal('360.0') Decimal('245')
 Decimal('3.21') Decimal('3.570') Decimal('15.84') Decimal('0')
 Decimal('0') Decimal('3') Decimal('4')]
['Merc 240D' Decimal('24.4') Decimal('4') Decimal('146.7') Decimal('62')
 Decimal('3.69') Decimal('3.190') Decimal('20.00') Decimal('1')
 Decimal('0') Decimal('4') Decimal('2')]
['Merc 230' Decimal('22.8') Decimal('4') Decimal('140.8') Decimal('95')
 Decimal('3.92') Decimal('3.150') Decimal('22.90') Decimal('1')
 Decimal('0') Decimal('4') Decimal('2')]
['Merc 280' Decimal('19.2') Decimal('6') Decimal('167.6') Decimal('123')
 Decimal('3.92') Decimal('3.440') Decimal('18.30') Decimal('1')
 Decimal('0') Decimal('4') Decimal('4')]
['Merc 280C' Decimal('17.8') Decimal('6') Decimal('167.6') Decimal('123')
 Decimal('3.92') Decimal('3.440') Decimal('18.90') Decimal('1')
 Decimal('0') Decimal('4') Decimal('4')]
['Merc 450SE' Decimal('16.4') Decimal('8') Decimal('275.8') Decimal('180')
 Decimal('3.07') Decimal('4.070') Decimal('17.40') Decimal('0')
 Decimal('0') Decimal('3') Decimal('3')]
['Merc 450SL' Decimal('17.3') Decimal('8') Decimal('275.8') Decimal('180')
 Decimal('3.07') Decimal('3.730') Decimal('17.60') Decimal('0')
 Decimal('0') Decimal('3') Decimal('3')]
['Merc 450SLC' Decimal('15.2') Decimal('8') Decimal('275.8') Decimal('180')
 Decimal('3.07') Decimal('3.780') Decimal('18.00') Decimal('0')
 Decimal('0') Decimal('3') Decimal('3')]
['Cadillac Fleetwood' Decimal('10.4') Decimal('8') Decimal('472.0')
 Decimal('205') Decimal('2.93') Decimal('5.250') Decimal('17.98')
 Decimal('0') Decimal('0') Decimal('3') Decimal('4')]
['Lincoln Continental' Decimal('10.4') Decimal('8') Decimal('460.0')
 Decimal('215') Decimal('3.00') Decimal('5.424') Decimal('17.82')
 Decimal('0') Decimal('0') Decimal('3') Decimal('4')]
['Chrysler Imperial' Decimal('14.7') Decimal('8') Decimal('440.0')
 Decimal('230') Decimal('3.23') Decimal('5.345') Decimal('17.42')
 Decimal('0') Decimal('0') Decimal('3') Decimal('4')]
['Fiat 128' Decimal('32.4') Decimal('4') Decimal('78.7') Decimal('66')
 Decimal('4.08') Decimal('2.200') Decimal('19.47') Decimal('1')
 Decimal('1') Decimal('4') Decimal('1')]
['Honda Civic' Decimal('30.4') Decimal('4') Decimal('75.7') Decimal('52')
 Decimal('4.93') Decimal('1.615') Decimal('18.52') Decimal('1')
 Decimal('1') Decimal('4') Decimal('2')]
['Toyota Corolla' Decimal('33.9') Decimal('4') Decimal('71.1')
 Decimal('65') Decimal('4.22') Decimal('1.835') Decimal('19.90')
 Decimal('1') Decimal('1') Decimal('4') Decimal('1')]
['Toyota Corona' Decimal('21.5') Decimal('4') Decimal('120.1')
 Decimal('97') Decimal('3.70') Decimal('2.465') Decimal('20.01')
 Decimal('1') Decimal('0') Decimal('3') Decimal('1')]
['Dodge Challenger' Decimal('15.5') Decimal('8') Decimal('318.0')
 Decimal('150') Decimal('2.76') Decimal('3.520') Decimal('16.87')
 Decimal('0') Decimal('0') Decimal('3') Decimal('2')]
['AMC Javelin' Decimal('15.2') Decimal('8') Decimal('304.0') Decimal('150')
 Decimal('3.15') Decimal('3.435') Decimal('17.30') Decimal('0')
 Decimal('0') Decimal('3') Decimal('2')]
['Camaro Z28' Decimal('13.3') Decimal('8') Decimal('350.0') Decimal('245')
 Decimal('3.73') Decimal('3.840') Decimal('15.41') Decimal('0')
 Decimal('0') Decimal('3') Decimal('4')]
['Pontiac Firebird' Decimal('19.2') Decimal('8') Decimal('400.0')
 Decimal('175') Decimal('3.08') Decimal('3.845') Decimal('17.05')
 Decimal('0') Decimal('0') Decimal('3') Decimal('2')]
['Fiat X1-9' Decimal('27.3') Decimal('4') Decimal('79.0') Decimal('66')
 Decimal('4.08') Decimal('1.935') Decimal('18.90') Decimal('1')
 Decimal('1') Decimal('4') Decimal('1')]
['Porsche 914-2' Decimal('26.0') Decimal('4') Decimal('120.3')
 Decimal('91') Decimal('4.43') Decimal('2.140') Decimal('16.70')
 Decimal('0') Decimal('1') Decimal('5') Decimal('2')]
['Lotus Europa' Decimal('30.4') Decimal('4') Decimal('95.1') Decimal('113')
 Decimal('3.77') Decimal('1.513') Decimal('16.90') Decimal('1')
 Decimal('1') Decimal('5') Decimal('2')]
['Ford Pantera L' Decimal('15.8') Decimal('8') Decimal('351.0')
 Decimal('264') Decimal('4.22') Decimal('3.170') Decimal('14.50')
 Decimal('0') Decimal('1') Decimal('5') Decimal('4')]
['Ferrari Dino' Decimal('19.7') Decimal('6') Decimal('145.0')
 Decimal('175') Decimal('3.62') Decimal('2.770') Decimal('15.50')
 Decimal('0') Decimal('1') Decimal('5') Decimal('6')]
['Maserati Bora' Decimal('15.0') Decimal('8') Decimal('301.0')
 Decimal('335') Decimal('3.54') Decimal('3.570') Decimal('14.60')
 Decimal('0') Decimal('1') Decimal('5') Decimal('8')]
['Volvo 142E' Decimal('21.4') Decimal('4') Decimal('121.0') Decimal('109')
 Decimal('4.11') Decimal('2.780') Decimal('18.60') Decimal('1')
 Decimal('1') Decimal('4') Decimal('2')]

In [9]:
cur.close()

## Read entire data into Pandas Dataframe

In [10]:
df = pd.read_sql('select * from cartable', con=conn)

In [11]:
print df.shape

(32, 12)

In [12]:
print df

                carname   mpg  cyl   disp     hp  drat     wt   qsec   vs  \
0             Mazda RX4  21.0  6.0  160.0  110.0  3.90  2.620  16.46  0.0
1         Mazda RX4 Wag  21.0  6.0  160.0  110.0  3.90  2.875  17.02  0.0
2            Datsun 710  22.8  4.0  108.0   93.0  3.85  2.320  18.61  1.0
3        Hornet 4 Drive  21.4  6.0  258.0  110.0  3.08  3.215  19.44  1.0
4     Hornet Sportabout  18.7  8.0  360.0  175.0  3.15  3.440  17.02  0.0
5               Valiant  18.1  6.0  225.0  105.0  2.76  3.460  20.22  1.0
6            Duster 360  14.3  8.0  360.0  245.0  3.21  3.570  15.84  0.0
7             Merc 240D  24.4  4.0  146.7   62.0  3.69  3.190  20.00  1.0
8              Merc 230  22.8  4.0  140.8   95.0  3.92  3.150  22.90  1.0
9              Merc 280  19.2  6.0  167.6  123.0  3.92  3.440  18.30  1.0
10            Merc 280C  17.8  6.0  167.6  123.0  3.92  3.440  18.90  1.0
11           Merc 450SE  16.4  8.0  275.8  180.0  3.07  4.070  17.40  0.0
12           Merc 450SL  17.3  8.0  275.8  180.0  3.07  3.730  17.60  0.0
13          Merc 450SLC  15.2  8.0  275.8  180.0  3.07  3.780  18.00  0.0
14   Cadillac Fleetwood  10.4  8.0  472.0  205.0  2.93  5.250  17.98  0.0
15  Lincoln Continental  10.4  8.0  460.0  215.0  3.00  5.424  17.82  0.0
16    Chrysler Imperial  14.7  8.0  440.0  230.0  3.23  5.345  17.42  0.0
17             Fiat 128  32.4  4.0   78.7   66.0  4.08  2.200  19.47  1.0
18          Honda Civic  30.4  4.0   75.7   52.0  4.93  1.615  18.52  1.0
19       Toyota Corolla  33.9  4.0   71.1   65.0  4.22  1.835  19.90  1.0
20        Toyota Corona  21.5  4.0  120.1   97.0  3.70  2.465  20.01  1.0
21     Dodge Challenger  15.5  8.0  318.0  150.0  2.76  3.520  16.87  0.0
22          AMC Javelin  15.2  8.0  304.0  150.0  3.15  3.435  17.30  0.0
23           Camaro Z28  13.3  8.0  350.0  245.0  3.73  3.840  15.41  0.0
24     Pontiac Firebird  19.2  8.0  400.0  175.0  3.08  3.845  17.05  0.0
25            Fiat X1-9  27.3  4.0   79.0   66.0  4.08  1.935  18.90  1.0
26        Porsche 914-2  26.0  4.0  120.3   91.0  4.43  2.140  16.70  0.0
27         Lotus Europa  30.4  4.0   95.1  113.0  3.77  1.513  16.90  1.0
28       Ford Pantera L  15.8  8.0  351.0  264.0  4.22  3.170  14.50  0.0
29         Ferrari Dino  19.7  6.0  145.0  175.0  3.62  2.770  15.50  0.0
30        Maserati Bora  15.0  8.0  301.0  335.0  3.54  3.570  14.60  0.0
31           Volvo 142E  21.4  4.0  121.0  109.0  4.11  2.780  18.60  1.0

     am  gear  carb
0   1.0   4.0   4.0
1   1.0   4.0   4.0
2   1.0   4.0   1.0
3   0.0   3.0   1.0
4   0.0   3.0   2.0
5   0.0   3.0   1.0
6   0.0   3.0   4.0
7   0.0   4.0   2.0
8   0.0   4.0   2.0
9   0.0   4.0   4.0
10  0.0   4.0   4.0
11  0.0   3.0   3.0
12  0.0   3.0   3.0
13  0.0   3.0   3.0
14  0.0   3.0   4.0
15  0.0   3.0   4.0
16  0.0   3.0   4.0
17  1.0   4.0   1.0
18  1.0   4.0   2.0
19  1.0   4.0   1.0
20  0.0   3.0   1.0
21  0.0   3.0   2.0
22  0.0   3.0   2.0
23  0.0   3.0   4.0
24  0.0   3.0   2.0
25  1.0   4.0   1.0
26  1.0   5.0   2.0
27  1.0   5.0   2.0
28  1.0   5.0   4.0
29  1.0   5.0   6.0
30  1.0   5.0   8.0
31  1.0   4.0   2.0

In [13]:
conn.close()

## Using SQLAlchemy  and Pandas

In [41]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://postgres@localhost:5432/dataScienceExp')

### Read entire table

In [42]:
with engine.connect() as conn, conn.begin():
    data = pd.read_sql_table('cartable',conn)

In [43]:
data

,carname,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6.0,160.0,110.0,3.90,2.620,16.46,0.0,1.0,4.0,4.0
1,Mazda RX4 Wag,21.0,6.0,160.0,110.0,3.90,2.875,17.02,0.0,1.0,4.0,4.0
2,Datsun 710,22.8,4.0,108.0,93.0,3.85,2.320,18.61,1.0,1.0,4.0,1.0
3,Hornet 4 Drive,21.4,6.0,258.0,110.0,3.08,3.215,19.44,1.0,0.0,3.0,1.0
4,Hornet Sportabout,18.7,8.0,360.0,175.0,3.15,3.440,17.02,0.0,0.0,3.0,2.0
5,Valiant,18.1,6.0,225.0,105.0,2.76,3.460,20.22,1.0,0.0,3.0,1.0
6,Duster 360,14.3,8.0,360.0,245.0,3.21,3.570,15.84,0.0,0.0,3.0,4.0
7,Merc 240D,24.4,4.0,146.7,62.0,3.69,3.190,20.00,1.0,0.0,4.0,2.0
8,Merc 230,22.8,4.0,140.8,95.0,3.92,3.150,22.90,1.0,0.0,4.0,2.0
9,Merc 280,19.2,6.0,167.6,123.0,3.92,3.440,18.30,1.0,0.0,4.0,4.0
10,Merc 280C,17.8,6.0,167.6,123.0,3.92,3.440,18.90,1.0,0.0,4.0,4.0
11,Merc 450SE,16.4,8.0,275.8,180.0,3.07,4.070,17.40,0.0,0.0,3.0,3.0
12,Merc 450SL,17.3,8.0,275.8,180.0,3.07,3.730,17.60,0.0,0.0,3.0,3.0
13,Merc 450SLC,15.2,8.0,275.8,180.0,3.07,3.780,18.00,0.0,0.0,3.0,3.0
14,Cadillac Fleetwood,10.4,8.0,472.0,205.0,2.93,5.250,17.98,0.0,0.0,3.0,4.0
15,Lincoln Continental,10.4,8.0,460.0,215.0,3.00,5.424,17.82,0.0,0.0,3.0,4.0
16,Chrysler Imperial,14.7,8.0,440.0,230.0,3.23,5.345,17.42,0.0,0.0,3.0,4.0
17,Fiat 128,32.4,4.0,78.7,66.0,4.08,2.200,19.47,1.0,1.0,4.0,1.0
18,Honda Civic,30.4,4.0,75.7,52.0,4.93,1.615,18.52,1.0,1.0,4.0,2.0
19,Toyota Corolla,33.9,4.0,71.1,65.0,4.22,1.835,19.90,1.0,1.0,4.0,1.0
20,Toyota Corona,21.5,4.0,120.1,97.0,3.70,2.465,20.01,1.0,0.0,3.0,1.0
21,Dodge Challenger,15.5,8.0,318.0,150.0,2.76,3.520,16.87,0.0,0.0,3.0,2.0
22,AMC Javelin,15.2,8.0,304.0,150.0,3.15,3.435,17.30,0.0,0.0,3.0,2.0
23,Camaro Z28,13.3,8.0,350.0,245.0,3.73,3.840,15.41,0.0,0.0,3.0,4.0
24,Pontiac Firebird,19.2,8.0,400.0,175.0,3.08,3.845,17.05,0.0,0.0,3.0,2.0
25,Fiat X1-9,27.3,4.0,79.0,66.0,4.08,1.935,18.90,1.0,1.0,4.0,1.0
26,Porsche 914-2,26.0,4.0,120.3,91.0,4.43,2.140,16.70,0.0,1.0,5.0,2.0
27,Lotus Europa,30.4,4.0,95.1,113.0,3.77,1.513,16.90,1.0,1.0,5.0,2.0
28,Ford Pantera L,15.8,8.0,351.0,264.0,4.22,3.170,14.50,0.0,1.0,5.0,4.0
29,Ferrari Dino,19.7,6.0,145.0,175.0,3.62,2.770,15.50,0.0,1.0,5.0,6.0
30,Maserati Bora,15.0,8.0,301.0,335.0,3.54,3.570,14.60,0.0,1.0,5.0,8.0
31,Volvo 142E,21.4,4.0,121.0,109.0,4.11,2.780,18.60,1.0,1.0,4.0,2.0

### SQL-Queries

In [44]:
cyl8=pd.read_sql_query("SELECT carname,mpg,cyl,carb FROM cartable WHERE cyl=8 ORDER BY mpg",engine)

In [45]:
print cyl8

                carname   mpg  cyl  carb
0    Cadillac Fleetwood  10.4  8.0   4.0
1   Lincoln Continental  10.4  8.0   4.0
2            Camaro Z28  13.3  8.0   4.0
3            Duster 360  14.3  8.0   4.0
4     Chrysler Imperial  14.7  8.0   4.0
5         Maserati Bora  15.0  8.0   8.0
6           Merc 450SLC  15.2  8.0   3.0
7           AMC Javelin  15.2  8.0   2.0
8      Dodge Challenger  15.5  8.0   2.0
9        Ford Pantera L  15.8  8.0   4.0
10           Merc 450SE  16.4  8.0   3.0
11           Merc 450SL  17.3  8.0   3.0
12    Hornet Sportabout  18.7  8.0   2.0
13     Pontiac Firebird  19.2  8.0   2.0

### Write Pandas dataframe into database

Read data from .csv - file into Pandas dataframe:

In [76]:
insuranceDF=pd.read_csv("../../R/Lecture/data/insurance.csv",sep=",",header=0,index_col=False)

In [78]:
insuranceDF.shape

(1338, 7)

In [90]:
print insuranceDF.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

Write Pandas dataframe into a new table in PostgreSQL DB.

In [93]:
if not engine.has_table("insurancetable"):
    insuranceDF.to_sql(name='insurancetable',index=True, index_label='index',con=engine)
else:
    print "table already exists"

table already exists

Check if data of the new table can be accessed:

In [94]:
with engine.connect() as conn, conn.begin():
    data = pd.read_sql_table('insurancetable',conn)

In [96]:
print data.head()

   index  age     sex     bmi  children smoker     region      charges
0      0   19  female  27.900         0    yes  southwest  16884.92400
1      1   18    male  33.770         1     no  southeast   1725.55230
2      2   28    male  33.000         3     no  southeast   4449.46200
3      3   33    male  22.705         0     no  northwest  21984.47061
4      4   32    male  28.880         0     no  northwest   3866.85520

In [99]:
child3=pd.read_sql_query("SELECT * FROM insurancetable WHERE children > 3 ORDER BY children",engine)

In [100]:
child3

    index  age     sex     bmi  children smoker     region      charges
0     344   49  female  41.470         4     no  southeast  10977.20630
1     390   48    male  35.625         4     no  northeast  10736.87075
2      83   48  female  41.230         4     no  northwest  11033.66170
3     165   47    male  28.215         4     no  northeast  10407.08585
4    1012   61  female  33.330         4     no  southeast  36580.28216
5    1064   29  female  25.600         4     no  southwest   5708.86700
6      61   25    male  33.660         4     no  southeast   4504.66240
7    1094   50  female  33.700         4     no  southwest  11299.34300
8    1095   18  female  31.350         4     no  northeast   4561.18850
9     450   39    male  29.600         4     no  southwest   7512.26700
10    494   21    male  25.700         4    yes  southwest  17942.10600
11   1154   48  female  27.930         4     no  northwest  11015.17470
12    211   40    male  30.875         4     no  northwest   8162.71625
13   1247   33    male  29.400         4     no  southwest   6059.17300
14   1253   40  female  29.300         4     no  southwest  15828.82173
15    621   37    male  34.100         4    yes  southwest  40182.24600
16   1307   32    male  28.120         4    yes  northwest  21472.47880
17   1318   35    male  39.710         4     no  northeast  19496.71917
18    639   56    male  33.660         4     no  southeast  12949.15540
19    258   51    male  24.415         4     no  northwest  11520.09985
20    659   57  female  28.785         4     no  northeast  14394.39815
21    754   24    male  33.630         4     no  northeast  17128.42608
22    321   26  female  29.640         4     no  northeast  24671.66334
23    884   25    male  26.695         4     no  northwest   4877.98105
24    891   36  female  29.040         4     no  southeast   7243.81360
25    937   39  female  24.225         5     no  northwest   8965.79575
26     71   31    male  28.500         5     no  northeast   6799.45800
27    166   20  female  37.000         5     no  southwest   4830.63000
28    413   25    male  23.900         5     no  southwest   5080.09600
29    425   45    male  24.310         5     no  southeast   9788.86590
30    438   52  female  46.750         5     no  southeast  12592.53450
31    568   49  female  31.900         5     no  southwest  11552.90400
32    640   33    male  42.400         5     no  southwest   6666.24300
33    877   33    male  33.440         5     no  southeast   6653.78860
34    932   46    male  25.800         5     no  southwest  10096.97000
35     32   19  female  28.600         5     no  southwest   4687.79700
36    969   39  female  34.320         5     no  southeast   8596.82780
37    984   20    male  30.115         5     no  northeast   4915.05985
38   1085   39  female  18.300         5    yes  southwest  19023.26000
39   1116   41    male  29.640         5     no  northeast   9222.40260
40   1130   39  female  23.870         5     no  southeast   8582.30230
41   1245   28    male  24.300         5     no  southwest   5615.36900
42   1272   43    male  25.520         5     no  southeast  14478.33015